@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* General Style */

:root {
  --second-color: rgb(200, 186, 186);
  --main-color: rgb(253, 138, 98);
  --third-color: rgb(138, 205, 115);
  --gray-color: #f0f0f0;
  --black-color: #4f4f4f;
  --soft-black-color: #777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}

p {
  color: var(--black-color);
}

h1 {
  font-size: 3rem;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

.section {
  min-height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
}

.white-img {
  filter: brightness(0) invert(1);
}

.f-between {
  justify-content: space-between;
}

.f-vcenter {
  align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Specific Style */

.app-header {
  width: 100%;
  position: relative;
  padding: 15px 0px;
  background: #fff;
}

.app-header h2 {
  color: var(--main-color);
}

#section1 > .mobile {
  display: none;
}

#section1 > article > p {
  font-size: 1.5rem;
  color: var(--soft-black-color);
}

#section2,
#section3 {
  min-height: 20rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.categories {
  width: 100%;
  min-height: 320px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.category-item {
  margin: 0.5rem;
  padding: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.2rem;
  cursor: pointer;
  background: var(--second-color);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.category-item.active {
  background: var(--main-color);
}

.category-item h3 {
  color: #fff;
}

.category-item img {
  height: 100%;
}

.category-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.15);
}

.meals {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.meal-item {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.meal-item:hover {
  transform: scale(1.05);
}

.meal-item img {
  width: 100%;
  border-radius: 0.2rem;
}

.meal-item p {
  margin-top: 10px;
  font-size: 1rem;
  color: var(--second-color);
}

#search-bar {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

#search-bar input {
  flex-grow: 1;
  border: 1px solid var(--gray-color);
  border-radius: 3px;
  padding: 0 1rem;
  outline: none;
  color: var(--soft-black-color);
  letter-spacing: 0.04rem;
}

#search-bar input:focus {
  border: 1px solid var(--main-color);
}

#clearButtonElement,
#search-bar button {
  min-width: 43px;
  min-height: 43px;
  padding: 10px 10px;
  margin: 0 0.5rem;
  background: var(--main-color);
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 3px;
  letter-spacing: 0.04rem;
  font-weight: 600;
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.filtered-category {
  display: flex;
  justify-content: space-between;
}

.filtered-category p {
  color: var(--soft-black-color);
}

.filtered-category span {
  color: var(--black-color);
  font-weight: 600;
}

meal-detail {
  width: 0;
  max-width: 500px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

meal-detail.open {
  width: 50%;
}

.meal-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.meal-detail header {
  height: 500px;
  width: 100%;
  background: #FFF;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.meal-detail header > div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

.meal-detail header div:first-child > div:first-child {
  flex-grow: 1;
}

.meal-detail header div:first-child img {
  height: 32px;
  margin-top: 4px;
}

.meal-detail header p {
  font-size: 1rem;
  color: var(--gray-color);
}

#meal-detail-content {
  flex-grow: 1;
  overflow: auto;
  background-color: #fff;
}

#meal-detail-content > p {
  padding: 1rem;
  color: var(--soft-black-color);
  text-align: justify;
  text-indent: 1.5rem;
}

#meal-detail-content > article {
  padding: 1rem;
}

#meal-detail-content > article > h3 {
  margin-bottom: 0.5rem;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: var(--soft-black-color);
}

#close-detail {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #ccc;
  font-size: 32px;
  font-family: Helvetica;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

footer {
  padding: 1rem;
  color: var(--black-color);
  background-color: var(--gray-color);
}

@media (max-width: 999px) {
  .categories {
    grid-template-columns: 50% 50%;
  }

  .meals {
    grid-template-columns: 25% 25% 25% 25%;
  }

  #section1 {
    display: block;
  }

  #section1 > article {
    margin-top: -5rem;
  }

  #section1 > .mobile {
    display: block;
  }

  #section1 > .web {
    display: none;
  }

  #firstLottie-mobile {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .categories {
    grid-template-columns: 100%;
  }

  .meals {
    grid-template-columns: 50% 50%;
  }

  meal-detail {
    max-width: 100%;
  }

  meal-detail.open {
    width: 80%;
  }

  meal-detail.open .meal-detail::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vh;
    background: rgba(0,0,0,0.4);
    content: " ";
  }
}

@media (max-width: 360px) {
  .meals {
    grid-template-columns: 100%;
  }
}
